/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.text-big{
	-fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 36.0;
}

.text-normal{
	-fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 16.0;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(white, 0.0%);
    -fx-effect: innershadow(two-pass-box , rgba(0.0,0.0,0.0,0.6) , 4.0, 0.0 , 0.0 , 0.0);
}

.pane-frame {
	-fx-border-color: gray;
}